<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carrusel</title>
    <link rel="stylesheet" href="/css/carrusel.css">
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/3363359/pexels-photo-3363359.jpeg" alt="Pico helado">
                <div class="carousel-item__details">
                    <div>
                        <img src="/img/btn-play.svg" >
                        <img src="/img/btn-add.svg" >
                    </div>
                    <p class="carousel-item__details--title">Titulo desciptivo</p>
                    <p class="carousel-item__details--subtitle">2019  16+  114 minutos</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>